/* Beasley thought the link text was a little too faint, so switched its color with the hover & focus color */
a {
  color: #157ab5;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #2fa4e7;
}

cite { /*Keep the cited text from defaulting to italics*/
  font-style: normal;
}
  
/*  
.navbar-inverse .navbar-brand {
  background-color: #ffaaaa;
}
.navbar-inverse,
.navbar-inverse {
  background-color: #ff00ff;
}
.navbar-brand,
.navbar-inverse {
  background-color: #ff00ff;
  border-color: #022f5a;
}
*/